.header-bar {
  width: 100%;
  height: 5em;
}

.header-bar-title {
  color: white;
  float: left;
  padding-left: 1em;
  font-weight: 900;
  font-size: 2.5em;
}

.header-bar-title:hover {
  text-decoration: none;
}